body {
    background: url('../img/bg.jpg') no-repeat;
background-size: cover;


}
    
#container {
    background: lightslategray;
    /*largura da tela*/
    max-width: 400px;
    /*centralizar*/
    text-align: center;
    padding: 15px;
    /*tamanho de texto*/
    font-size: 30px;
    /*largura na tela*/
    margin: 0%;
    border-radius: 15px;
    /*espaçamento dentro do elemento*/
}

#container {
   border: 3px solid rgb(255, 0, 0);
            max-width: 500px;
            /*centralizar*/
            margin: 0 auto;
            /*cor de fundo*/
            background-color: rgb(255, 255, 255);        
            /*espaçamento entre os elementos*/
            padding: 20px;
    
}

#tarefa {
    border: 2px solid rgb(255, 0, 0);
    padding: 5px;
    border-radius: 5px;

}


#tarefa:focus {
    outline: none;

}

#tarefa::placeholder {
    color: darkgrey;
}

.btnAdicionar {
    background: firebrick;
    padding: 7px;
    border: 0px;
    border-radius: 8px;

}